<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>My Application
    <i class="material-icons">explore</i>
  </span>
</mat-toolbar>
<div class="container-fluid">
  <h1>Angular material y flexboxgrid</h1>
  <div class="row around-xs">
    <article class="col-xs-12 col-sm-5 col-md-3">
      <i class="material-icons">receipt</i>
      <p>Análisis de algoritmos</p>
    </article>
    <article class="col-xs-12 col-sm-5 col-md-3">
      <i class="material-icons">
        line_style
      </i>
      <p>Administración de bases de datos</p>
    </article>
    <article class="col-xs-12 col-sm-11 col-md-3">
      <i class="material-icons">
        toc
      </i>
      <p>Electiva tecnológica</p>
    </article>
  </div>
</div>



<router-outlet></router-outlet>
